*{
    padding: 0;
    margin: 0;
}

/* .lunbo{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
} */

.pics{
    width: 100vw;
    height: 100vh;
    animation: 9s loop infinite;
}

.lunbo .pics img{
    width: 80vw;
    height: 50vh;
    float: left;
}

.lunbo{
    width: 80vw;
    height: 50vh;
    overflow: hidden;
}

@keyframes loop {
    0%{}
    16.6%{transform: translateX(0vw);}
    33.3%{transform: translateX(-80vw);}
    49.9%{transform: translateX(-160vw);}
    84.3%{transform: translateX(-240vw);}
    100%{transform: translateX(-320vw);}
}



