* {
    margin: 0px;
    padding: 0px;
}

.searchbox {        /*搜索框大盒子*/
    background-color: #edecf2;
    width: 100%;
    height: 50px;
    position: relative;
}

.searchbox input{       /*搜索框*/
    width: 90%;
    height: 30px;
    margin: 10px 5%;
    border-radius: 15px;
}

.searchbox img {        /*搜索图标*/
    width: 20px;
    height: 20px;
    border: 1px hotpink solid;
}

.searchbox span {       /*文字*/
    font-size: 18px;
    color: #9c9a9a;
}

.searchbox .box {       /*输入框小盒子*/
    position: absolute;
    top: 15px;
    left: 39%;
}

.nav {      /*左侧导航栏大盒子*/
    font-size: 15px;
    min-height: 900px;
    background-color: #f6f6f6;
    width: 90px;
    float: left;
}

#cate {    /*左侧分类小盒子*/
    height: 20px;
    text-align: center;
    padding: 25px 10px;

}

#cate:hover {
    color: red;
    background-color: rgb(255, 255, 255);
    border-left: 4px solid red;
}

.content {      /*右侧品牌大盒子*/
    width: 285px;
    float: right;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#banner {      /*banner*/  
    width: 260px;
    height: 130px;
    border: 2px slateblue solid;
    border-radius: 8px;
    margin: 8px auto;
    overflow: hidden;
    position: relative;
}

#banner:hover .arrow{
    color: brown;
    display: block;
}

#banner .arrow{
    position: absolute;
    display: none;
    height: 25px;
    width: 25px;
    font-size: 23px;
    text-align: center;
    line-height: 23px;
    z-index: 2;
    cursor: pointer;
    text-decoration: none;
}

#banner .arrow:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

#pre {
    top: 80%;
    right: 96%;
    border: 0.5px solid salmon;
    border-radius: 50%;
    margin: 0 auto;
}

#nxt {
    top: 80%;
    left: 96%;
    border: 0.5px solid salmon;
    border-radius: 50%;
    margin: 0 auto;
}

#banner img{
    top: 65px;
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#brand {      /*右侧品牌*/  
    width: 70px;
    height: 80px;
    text-align: center;
    padding: 10px 10px;
    font-size: 14px;
}



#brand img {
    width: 60px;
    height: 60px;
    position: relative;
    margin: 0 auto;
}


@media screen and (max-device-width: 300px){
    .content {
        width: 75%;
    }

    .searchbox {
        height: 54px;
    }

    .content #banner {
        width: 90%;
    }

    .nav {
        width: 25%;
    }
    
    #cate {
        height: 80px;
    }
}

@media screen and (min-device-width: 300px) and (max-device-width: 1252px){
    .content {
        width: 75%;
    }

    .searchbox {
        height: 54px;
    }

    .content #banner {
        width: 90%;
    }

    .nav {
        width: 25%;
    }

    #banner img{
        overflow: hidden;
    }
}

@media screen and (min-device-width: 1253px) {
    .content {
        width: 75%;
    }

    .searchbox {
        height: 54px;
    }

    .content #banner {
        width: 95%;
    }

    .nav {
        width: 25%;
    }

    #banner img{
        overflow: hidden;
    }
}