.list {
  background-color: rosybrown;
  width: 10%;
  margin: 60px auto;
  text-align: center;
}
.list .list_item1 {
  background-color: salmon;
}
.list .list_item1 .list_item_title {
  border: 1px solid black;
}
.list .list_item1 .list_item_content {
  height: 80px;
  overflow: hidden;
  transition: height 1s;
}
.list .list_item2 {
  background-color: skyblue;
}
.list .list_item2 .list_item_title {
  border: 1px solid black;
}
.list .list_item2 .list_item_content {
  height: 80px;
  overflow: hidden;
  transition: height 1s;
}
.list .list_item3 {
  background-color: slateblue;
}
.list .list_item3 .list_item_title {
  border: 1px solid black;
}
.list .list_item3 .list_item_content {
  height: 80px;
  overflow: hidden;
  transition: height 1s;
}
