*{
    padding: 0;
    margin: 0;
}

.lunbo{
    width: 600px;
    height: 400px;
    overflow: hidden;
}

.pics{
    width: 3600px;  /*因为有6张图片*/
    height: 400px;
    
}


/* 图片设置600x400 */
.lunbo .pics img{
    width: 600px;
    height: 400px;
    animation: 9s loop infinite;
    
}

/* 以下是动画 六张图片9s 
所以xx%是进度,transform:是移动,translateX是x轴(横向)移动*/

@keyframes loop { 
    0%{}
    16.6%{transform: translateX(-600px);}
    33.3%{transform: translateX(-1200px);}
    49.9%{transform: translateX(-1800px);}
    84.3%{transform: translateX(-2400px);}
    100%{transform: translateX(-3000px);}
}



