*{
    padding: 0;
    margin: 0;
}

/* tab-title~content */

.tab{
    width: 50vw;
    height: 65vh;
    margin: 5vh auto;
    border: blueviolet solid 5px;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
}


.title{
    height: 10vh;
    width: 50vw;
    border-bottom:2px #0ac0f8 solid ;
    border-radius: 13px;
    position: relative;
    text-align: center;
}

.content{
    height: 18vh;
    width: 50vw;
    text-align: center;
    display: none;
    border-bottom: 2px gold solid;
    border-radius: 8px;
}

/* .tab .content:nth-of-type(8){
    display: none;
} */