*{
    padding: 0;
    margin: 0;
}

.frame{
    width: 100vw;
    height: 100vh;
}

.bg img{
    width: 80vw;
    height: 40vw;
    margin: 4vh 10vw;
    border: 2px navy solid;
    border-radius: 10px;
    position: relative;
}
.danmu{
    width: 30vw;
    position: relative;
    margin: 0 35vw;
}

.danmu input{
    width: 22vw;
    border-radius: 8px;
}

.danmu button{
    width: 7vw;
    cursor: pointer;
    border-radius: 8px;
    float: right;
}