*{
    padding: 0;
    margin: 0;
}

.coverL{
    width: 9vw;
    height: 100vh;
    float: left;
    z-index: 99;
    background-color: white;
    position: relative;
}

.coverR{
    width: 9vw;
    height: 100vh;
    float: right;
    z-index: 99;
    background-color: white;
    position: relative;
}

/* .frame{
    width: 80vw;
    height: 45vh;
} */

.frame img{
    width: 80vw;
    height: 40vw;
    margin-top: 4vh;
    border: 2px navy solid;
    border-radius: 10px;
    position: absolute;
}

.danmu{
    width: 30vw;
    height: 4vh;
    position: absolute;
    margin: 45vw 35vw 0 35vw;
}

.danmu input{
    width: 22vw;
    border-radius: 8px;
}

.danmu button{
    width: 7vw;
    cursor: pointer;
    border-radius: 8px;
    float: right;
    font-size: 2vh;
}

/* span{
    width: 60vw;
    height: 1.5vw;
    z-index: 2;
    position: absolute;
    top: 4vh;
    /* border: 2px solid rgb(199, 192, 192); */
    /* border-radius: 10px;
    display: block;
    height: 25px;
    line-height: 25px;
    padding: 0 10px 0 10px;
    animation: 10s loop infinite;
    color: red;
    font-weight: bold;
} */


/* @keyframes loop { 
    0%{transform: translateX(90vw);}
    /* 10%{transform: translateX(90vw);}
    20%{transform: translateX(80vw);}
    30%{transform: translateX(70vw);}
    40%{transform: translateX(60vw);}
    50%{transform: translateX(50vw);}
    60%{transform: translateX(40vw);}
    70%{transform: translateX(30vw);}
    80%{transform: translateX(20vw);}
    90%{transform: translateX(10vw);} */
    /* 100%{transform: translateX(-50vw);}
} */ 
