*{
    margin: 0;
    padding: 0;
}

.tab{
    
    width: 60vw;
    height: 40vh;
    border: blueviolet 2px solid;
    border-radius: 2%;
    margin: 0 auto;
    top: 6vh;
}

#title{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: inherit;
}

#cate{ 
    position: absolute;
    width: inherit;
    height: inherit;
}

#cate:nth-of-type(2){
    left: 25%;
}

#cate:nth-of-type(3){
    left: 50%;
}

#cate:nth-of-type(4){
    left: 75%;
}


.page{
    top:50px;
}