*{
    margin: 0;
    padding: 0;
}

.tab{
    width: 60vw;
    height: 40vh;
    border: blueviolet 2px solid;
    border-radius: 2%;
    margin: 6vh auto;
    
}

.title{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

#cate{
    position: relative;
    width: 25%;
    height: ;
}

.page{
    top:50px;
}