*{
    margin: 0;
    padding: 0;
}

/* by_Time */
.by_Time img{
    width: 60vw;
    height: 30vw;
    margin-left: 20vw;
}

/* by_Click */
.by_Click{
    width: 100vw;
    height: 30vw;
    position: relative;
}

.by_Click .margin_left{
    width: 20vw;
    height: 30vw;
    float: left;
    position: relative;
}

.by_Click .margin_right{
    width: 20vw;
    height: 30vw;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.by_Click .frame{
    width: 60vw;
    height: 30vw;
}

.click_left{
    position: absolute;
    z-index: 2;
    color: red;
    width: 6vw;
    height: 30vw;
    left: 20vw;
    line-height: 30vw;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
}

.click_right{
    position: absolute;
    z-index: 2;
    color: red;
    width: 6vw;
    height: 30vw;
    right: 20vw;
    line-height: 30vw;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
    top: 0;
    cursor: pointer;
}

.by_Click img{
    position: relative;
    width: 60vw;
    height: 30vw;
    z-index: 1;
}


/* above all*/
.above{
    width: 100vw;
    height: 30vw;
    position: relative;
    top: 1vw;
}

.above .margin_left{
    width: 20vw;
    height: 30vw;
    float: left;
    position: relative;
}

.above .margin_right{
    width: 20vw;
    height: 30vw;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.above .frame{
    width: 60vw;
    height: 30vw;
}

.all_left{
    position: absolute;
    z-index: 2;
    color: red;
    width: 6vw;
    height: 30vw;
    left: 20vw;
    line-height: 30vw;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
    cursor: pointer;
}

.all_right{
    position: absolute;
    z-index: 2;
    color: red;
    width: 6vw;
    height: 30vw;
    right: 20vw;
    line-height: 30vw;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
    top: 0;
    cursor: pointer;
}

.above img{
    position: relative;
    width: 60vw;
    height: 30vw;
    z-index: 1;
}
