*{
    margin: 0;
    padding: 0;
}

/* by_Time */
.by_Time img{
    width: 60vw;
    height: 30vw;
    margin-left: 20vw;
}

/* by_Click */
.by_Click{
    width: 100vw;
    height: 30vw;
    position: absolute;
}

.by_Click .margin_left{
    width: 20vw;
    height: 30vw;
    float: left;
    position: relative;
}

.by_Click .margin_right{
    width: 20vw;
    height: 30vw;
    float: right;
    position: relative;
}

.by_Click .frame{
    display: inline-block;
}

.click_left{
    position: absolute;
    z-index: 2;
    color: red;
    width: 5vw;
    height: 30vw;
    left: 20vw;
    line-height: 30vw;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
}

.click_right{
    position: absolute;
    z-index: 2;
    color: red;
    width: 5vw;
    height: 30vw;
    right: 20vw;
    line-height: 30vw;
    vertical-align: middle;
    text-align: center;
    font-size: xx-large;
}

.by_Click img{
    position: relative;
    width: 60vw;
    height: 30vw;
    z-index: 1;
}
